<% include partials/_header%>

<div class="container ">
  <div class="row">
    <!-- FORM -->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/editar/<%= tarea._id%>" method="post">
            <div class="form-group">
              <input type="text" class="form-control" name="title" value="<%= tarea.titulo%>">
            </div>
            <div class="form-group">
              <textarea cols="80" class="form-control" name="description"><%= tarea.descripcion%></textarea>
            </div>
            <div class=" form-group">
              <input class="form-control" type="date" name="date" value="<%= tarea.fecha%>">
            </div>
            <button type="submit" class="btn btn-primary btn-block" name="btnEdit" value="Button add">Editar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/_footer%>
