<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUD NodejsMongoDB</title>
    <!-- Boostrap 4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->

  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">
      <a href="/" class="navbar navbar-brand">Agenda de eventos - CRUD Node-Mongo</a>
    </nav>
